*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    }


.header{
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/lunaaa/UVOD.JPEG");
    background-position: center;
    background-size: cover;
    position: relative;
    }

.headerost{
    min-height: 10vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/lunaaa/UVOD.JPEG");
    background-position: center;
    background-size: cover;
    position: relative;
    }
.banketka{
    min-height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("lunaaa/banketka.JPEG");
    background-position: center;
    background-size: cover;
    position: relative;
    }
nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    background: rgba(57, 50, 56, 0.75);
}

nav img{
    width: 80px; 
    display: block;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: <300>;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
     width: 100%;
}
nav .fa-solid{
    display: none;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 50px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #d6d4d4;
}
.text-box h2{
    font-size: 35px
    
}


.head-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 0;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 0 20px;
    width: 140px;
    text-align: center;
}

.head-btn:hover{
    border: 1px solid #393238;
    background: #393238;
    transition: 1s;
}

nav .fa-solid{
    display: none;
}

@media(max-width:700px){
    .text-box h1{
    font-size: 18px;
}
    .nav-links ul li{
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #393238;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .nav-link ul{
        padding: 30px;
        
    }
    nav{
        height: 15px;
    }
    nav img {
        width: 50px; 
    }

}
.gallery{
    padding-top: 30px;
    padding-bottom: 30px;
}
.slider {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.slide img {
    width: 32%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 22px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

#lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
}

#lightbox button {
    font-size: 40px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    margin: 20px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.kontakt{
    display: flex;
    gap: 20px;
    
}

.box {
  flex: 1;               /* Oba bloky budou zabírat stejně místa (50% / 50%) */
  background-color: #white;
  padding: 20px;
  border-radius: 8px;
    text-align: center;
    
}

.box p{
    margin: 10px 0 20px;
    font-size: 14px;
}
.box a{
    font-size: 14px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dny {
    margin-top: 70px;
}

.socky{
    text-align: center;
    background: #393238;
}

.socky h1{
    padding-top: 7px;
    padding-bottom: 10px;
    color: white;
}
.socky a{
    color: white;
}
.socky p{
    color: white;
    padding-bottom: 7px;
}
.logo img{
    width: 50px;
    padding-right: 15px;
}
.banket h1{
    text-align: center;
    padding: 10px;
    
}
.banket h3{
    text-align: center;
    padding-bottom: 10px;
}

.galleryban{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    padding-top: 20px;
}

.galleryban img{
    width:200
        px;
    height:250px;
    object-fit:cover;
    border-radius:8px;
    cursor:pointer;
}

.close{
    position:absolute;
    top:20px;
    right:30px;
    font-size:45px;
    color:white;
    cursor:pointer;
}
.banket ul{
    padding-left: 200px;
}
.banket {
    border-style: outset;
    color: #393238;
    border-radius: 8px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    background-color: #edebe4;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.banket h2{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 15px;
}
.banket a{
    color: #050505;
}
.banket p{
    text-align: center;
    padding-bottom: 10px;
}
.circle{
    margin-bottom: 10px;
}

..circle::marker {
    color: #393238;
    font-size: 1.2rem;
}

.akce{
    padding-top: 50px;
    text-align: center;
}
.akce a{
    color: black;
}
.akce h1{
    padding-bottom: 8px;
}

.events-info{
    max-width:700px;
    margin:70px auto;
    text-align:center;
    padding:40px;
    border:1px solid #ddd;
    border-radius:12px;
    background:#f8f8f8;
}

.events-info h2{
    margin-bottom:20px;
    color:#222;
}

.events-info p{
    font-size:18px;
    line-height:1.6;
}
